
// LAYOUT

$container-width: 900px;


// TYPOGRAPHY

$font: 'Lato', sans-serif;

$font-nav: 'Lato', sans-serif;
$font-feature: 'Arvo', serif;
$font-section-title: 'Ubuntu Condensed', sans-serif;

$font-header-weight: 800;