html,body{
    height:100%;    
    margin:0;
    padding:0;
    border:0;
}

div{
    margin:0;
    border:0;
}


.content{
    display:table;
    width:100%;
    border-collapse:separate;
    height:100%;
}

.story{
    background: url(/images/cover.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 50;
}
.story .gradient{
   position: relative; top:0px; left:0px; width:100%; height:100%;
   background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.45)
    );

}

.story a {
  position: relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  float:left;
}

.story .gradient:hover{
   background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.6)
    );
}

.story .gradient h1{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom:50px;
    left:50px;
    color: #fff;
}


.Col{
    display:table-cell;
    width:50%;
    height:100%;
}


.rows{
    width:100%;
    height:50%;
}

#header,#footer{
    height:65px;
    position:relative;
    z-index:1;
    background-color: #000;
}